.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
}

.login-card {
  width: 340px;
  padding: 28px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.50);
}

.login-logo {
  width: 200px;
  display: block;
  margin-top: -20px;
  margin-bottom: -30px;
  margin-left: 70px;
}

.login-title {
  text-align: center;
  margin-bottom: 12px;
  font-size: 1.6rem;
  font-weight: 700;
}

.login-input {
  width: 92%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  font-size: 0.95rem;
}

.login-input:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.login-forgot-password {
  display: block;
  text-align: right;
  margin-top: 15px;
  margin-right: 8px;
  font-size: 0.9rem;
  color: #0066cc;
  cursor: pointer;
  text-decoration: none;
}

.login-forgot-password:hover, .login-signup-link.signup:hover {
  text-decoration: underline;
  color: #00366c;

}

.login-signup-link {
  display: block;
  text-align: center;
  margin-top: 12px;
  font-size: 0.9rem;
  color: #0066cc;
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.login-signup-link.signup {
  text-align: center;
  color: #0066cc;
  font-weight: 600;
  margin-top: 4px;
  cursor: pointer;
}

.login-button {
  width: 90%;
  padding: 12px;
  margin-top: 10px;
  margin-left: 13px;
  margin-bottom: 12px;
  border: none;
  border-radius: 6px;
  background: #1a1a1a;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.login-button:hover {
  background: #686868;
}
.login-error {
  color: #ff4d4f;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}